*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
/app/.cxx
/app/sampledata/models/*.fbm
/app/sampledata/models/*.fbx
/app/sampledata/models/*.sfa
/app/src/main/res/raw
/Core
/Framework
/OpenGL
/.settings